/* Start Variables */
:root {
    --main-color: #19C8FA;
    --secondry-color: #777777;
    --transparent-color: rgb(15 116 143 / 70%);
}

/* End Variables */

/* Start Global Rules */
* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Open Sans', sans-serif;
}

ul {
    list-style-type: none;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;

}

/* small screens */

@media (min-width:768px) {
    .container {
        width: 750px;
    }

}

/* medium screens */
@media (min-width:992px) {
    .container {
        width: 970px;
    }

}

/* large screens */
@media (min-width:1200px) {
    .container {
        width: 1170px;
    }

}



/* End Global Rules */

/* Start Special Compnants */
.special-title {
    text-align: center;
}

.special-title h2 {
    font-size: 40px;
    margin: 0px;
    padding-bottom: 20px;
    font-weight: 300;
    position: relative;
}

.special-title h2::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 150px;
    background-color: #000;
    left: 50%;
    bottom: 0px;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    z-index: 1;
}

.special-title h2::before {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    border: 2px solid #000;
    background-color: #FFF;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 50%);
    -webkit-transform: translate(-50%, 50%);
    -moz-transform: translate(-50%, 50%);
    -ms-transform: translate(-50%, 50%);
    -o-transform: translate(-50%, 50%);
    z-index: 10;
}

.special-title p {
    width: 550px;
    max-width: 100%;
    margin: 40px auto 0px auto;
    color: var(--secondry-color);
    line-height: 2;
}



/* End Special Compnants */

/* Start Header */
.landing {
    background-image: url(../media/parallel-world_landing.jpg);
    background-size: cover;
    height: 100vh;
    position: relative;
}

.container .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: 90px;

}

.container .header::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: #FFF;
}

.container .header .list {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.container .header ul {

    display: flex;
    margin-right: 30px;
}

.container .header ul li {
    text-decoration: none;
    color: #FFF;
    position: relative;
    padding: 36px 10px;
}

li a::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0px;
    left: -50%;
    background-color: var(--main-color);
    opacity: 0;
    transform: translateX(50%);
    -webkit-transform: translateX(50%);
    -moz-transform: translateX(50%);
    -ms-transform: translateX(50%);
    -o-transform: translateX(50%);
    z-index: 10;

}

.container .header ul li:hover a {
    color: var(--main-color);
}

.container .header ul li:hover a::after {
    opacity: 1;
}

.container .header ul li a {
    text-decoration: none;
    color: #FFF;

}

.container .header .list i {
    color: #FFF;


}

i.fa-magnifying-glass {
    border-left: 2px solid #FFF;
    padding: 10px 0 10px 10px;

}

i.fa-bars {
    display: none;
    padding-right: 20px;
}


@media (max-width:768px) {
    .container .header ul {
        display: none;
    }

    i.fa-bars {
        display: block;
    }

    i.fa-bars:hover+ul {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0px;
        width: 100%;
        background-color: #00000070;
        padding: 0px;
        transform: translateY(-10px);
        -webkit-transform: translateY(-10px);
        -moz-transform: translateY(-10px);
        -ms-transform: translateY(-10px);
        -o-transform: translateY(-10px);
        z-index: 100;
    }

    i.fa-bars:hover+ul li {
        padding: 10px;
    }
}

/* End Header */

/* Star Landing Content */
.landing .landing-content {
    width: 50%;
    margin-top: 30px;
    padding: 40px 80px;
    background-color: var(--transparent-color);
    color: #FFF;
}



.landing .landing-content h3 {
    font-size: 32px;
    margin: 0px;
    font-weight: 300;
}

.landing .landing-content p {
    font-size: 14px;
    line-height: 25px;
}

i.left-dir {
    color: #FFF;
    position: absolute;
    top: 50%;
    left: 20px;
}

i.right-dir {
    color: #FFF;
    position: absolute;
    top: 50%;
    right: 20px;
}

i.right-dir:hover,
i.left-dir:hover {
    color: var(--main-color);
    transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
}

@media (max-width:768px) {
    .landing .landing-content {
        width: 100%;
        padding: 40px 40px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
    }

    i.left-dir,
    i.right-dir {
        display: none;
    }
}

.landing .cicles {
    position: absolute;
    left: 50%;
    bottom: 10px;
    display: flex;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

.landing .cicles li {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    background-color: transparent;
    border: 1px solid #FFF;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.landing .cicles li:hover {
    background-color: var(--main-color);
    transform: scale(1.3);
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -o-transform: scale(1.3);
}

/* End Landing Content */

/* Start Services Section */
.services .container {
    padding-top: 100px;
    padding-bottom: 100px;
}

.services .container .services-content {
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 40px;
    justify-content: center;

}

.services .container .services-content .col div:first-child {
    margin-bottom: 50px;
}

.services .container .services-content .col .serv {
    display: flex;

}



.services .container .services-content .col .serv i {
    margin-right: 30px;
    margin-bottom: 30px;
}


.services .container .services-content .col .serv h3 {
    margin-top: 0px;
    color: var(--main-color);
}

.services .container .services-content .col .serv p {
    color: var(--secondry-color);
    line-height: 30px;
}

@media (max-width:768px) {
    .services .container .services-content {
        grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    }

    .services .container .services-content .col .serv {
        flex-direction: column;
        text-align: center;
    }

    .services .container .services-content .col .serv i {
        margin-right: 0px;
    }

}

.services .services-landing {
    background-image: url(../media/design-features.jpg);
    background-size: cover;
    height: 600px;
    position: relative;
    overflow: hidden;
    color: #FFF;
    padding: 30px;

}

.services .services-landing::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #00000078;
}

.services .services-landing img {
    position: absolute;
    bottom: -150px;
}

.services .services-landing .text {
    background-color: var(--transparent-color);
    width: 50%;
    padding: 30px 0px 30px 30px;
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

.services .services-landing .text h2 {
    font-size: 24px;
    font-weight: normal;
}

.services .services-landing .text ul {
    padding-left: 0px;
}

.services .services-landing .text li {
    padding: 10px 0;
}

.services .services-landing .text li::before {
    font-family: "Font Awesome 5 Free";
    content: "\f108";
    font-weight: 900;
    margin-right: 20px;
    position: relative;
    top: 1px;
}

@media (max-width:768px) {
    .services .services-landing .text {
        width: 100%;
    }

    .services .services-landing img {
        display: none;
    }
}
/* End Services Section */